<%= render 'layouts/header' %>

<!-- <h1>スタッフ登録をしてお祭りに参加しよう!!</h1> -->





<%= form_for @staff  do |staff| %>

<h2>スタッフ登録フォーム</h2>


<%= staff.label :last_name, "姓" %>
<%= staff.text_field :last_name %>

<%= staff.label :first_name, "名" %>
<%= staff.text_field :first_name %>

<%= staff.label :postalcode, "郵便番号" %>
<%= staff.text_field :postalcode %>

<%= staff.label :address, "住所" %>
<%= staff.text_field :address %>

<%= staff.submit "スタッフ登録" %>



<% end %>
