<%= render 'layouts/header' %>

<body class="staff_show">

	<div class="container " style="background-color: rgba(255,165,0,0.5);">
		<div style="background-color: rgba(255,165,0,0.3); margin: 20px 0 20px 0;">
			<h1 class="staff"> <strong> スタッフページ </strong> </h1>

			<div class="row">
				<div class="col-lg-7" style="padding: 30px 50px 30px 40px;">


				<table class="table">
					<thead>
							<th class="staff-info" colspan="2" style="text-align: center; font-size: 24px;">スタッフ情報</th>
					</thead>
					<tr class="staff-info">
						<td>名前</td>
						<td> <%= @staff.last_name %><%= @staff.first_name %> </td>
					</tr>
					<tr class="staff-info">
						<td>住所</td>
						<td> <%= @staff.address %> </td>
					</tr>
					<tr class="staff-info">
						<td>ポイント</td>
						<td> 総合 <%= @staff.total_point %> /使用ポイント  <%= @staff.remaining_point %> </td>
					</tr>
				</table>


				</div>

				<div class="col-lg-5" style="padding: 30px 50px 30px 40px;">
					<table>
						<thead>
							<th class="staff-info" colspan="2" style="text-align: center; font-size: 24px;">
							参加お祭一覧
							</th>
						</thead>
						<tr class="staff-info">
							<td>お祭名</td>
							<td>開催日</td>
						</tr>
					</table>
				</div>


			</div>

			<div>
				ポイント履歴
			</div>

		</div>
	</div>

</body>


