<%= form_for @present do |present| %>

<h1>プレゼント登録ページ</h1>

<%= present.label :present, "プレゼント名" %>
<%= present.text_field :present %>

<%= present.label :present_image, "イメージ画像" %>
<%= present.attachment_field :present_image %>

<%= present.label :use_point, "必要ポイント" %>
<%= present.number_field :use_point %>

<%= present.submit %>

<% end %>