<%= render 'layouts/header' %>


<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= notice %>
</div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= alert %>
</div>
<% end %>



<div class="container">
	<div class="row">

		<p class="title-text">
			<%= @festival.name %><br>
			登録スタッフ一覧
	    </p>



			<table class="table table-bordered sub-text">
				<thead>
					<tr>
						<th style="width: 15%;">名前</th>
						<th style="width: 13%;">電話番号</th>
						<th style="width: 29%;">住所</th>
						 <% if @pointday > Date.today %>
						<th colspan="4" style="width: 43%; text-align: center;">ポイント変更期限：<%= @pointday.strftime('%Y/%m/%d') %></th>
						 <% else %>
						 <th colspan="4" style="width: 43%; text-align: center;">ポイント</th>
						 <% end %>
					</tr>
				</thead>
					<% @matchs.each do |matching| %>
					<tbody>
					<tr>
						<td>
							<p><%= matching.staff.name %></p>
						</td>
						<td>
							<%= matching.staff.telephone %>
						</td>
		                <td>
		                	<%= matching.staff.address %>
		                </td>
		                <% if @pointday > Date.today %>
		                <td>
		                	総合ポイント：<%= total_point(matching.staff) %>
		                </td>
		                <% if Point.find_by(staff_id: matching.staff.id, festival_id: matching.festival.id) %>
		                <td>
		                	現在のポイント：<%= remaining_point(matching.staff) %>
		                </td>
		                <td>
		                	<%= form_for Point.find_by(staff_id: matching.staff.id, festival_id: matching.festival.id) do |point| %>
		                	<%= point.number_field :plus_point, min: 1, max: 3, class: "form-control", style: "width: 50px;"  %>
		                </td>
		                <td>
		                	<%= point.submit "ポイントを変更する", class: "green-button" %>
		                </td>
		                	<% end %>
		                <% else %>
		                <td>
		                	現在のポイント：<%= remaining_point(matching.staff) %>
		                </td>
		                <td>
			                	<%= form_for @newpoint do |newpoint| %>
			                	<%= newpoint.hidden_field :staff_id, :value => matching.staff_id %>
			                	<%= newpoint.hidden_field :festival_id, :value => matching.festival_id %>
			                	<%= newpoint.number_field :plus_point, min: 1, max: 3, class: "form-control", style: "width: 50px;" %>
		                </td>
		                <td>
		                	<%= newpoint.submit "ポイントを付与する", class: "green-button" %>
		                </td>
							<% end %>
	                	<% end %>
	                	<% else %>
	                	<td>
		                	総合ポイント：<%= total_point(matching.staff) %>
		                </td>
		                <td>
		                	現在のポイント：<%= remaining_point(matching.staff) %>
		                </td>
		                <% end %>
				</tbody>
				<% end %>
			</table>
	</div>
</div>




<p class="pagetop"></p>