<%= render 'layouts/subheader' %>

<div class="container">
	<div class="row">
		<div class="col-lg-8  col-lg-offset-2">

			<p class="title-text"> 機能一覧 </p>

				<div class="row">

					<div class="col-lg-4">
						<div class="admins-top-box">
							<%= link_to admins_staffs_path, class: "link-none" do %>
								<p class="top-admins-text link-none"> スタッフ一覧 </p>
							<% end %>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="admins-top-box">
							<%= link_to admins_organizations_path, class: "link-none" do %>
								<p class="top-admins-text link-none"> 団体一覧 </p>
							<% end %>
						</div>
					</div>


					<div class="col-lg-4">
						<div class="admins-top-box">
							<%= link_to admins_festivals_path, class: "link-none" do %>
								<p class="top-admins-text link-none"> お祭り一覧 </p>
							<% end %>
						</div>
					</div>


				</div>



				<div class="row">

					<div class="col-lg-4">
						<div class="admins-top-box">
							<%= link_to admins_festivals_path, class: "link-none" do %>
								<p class="top-admins-text link-none"> プレゼント一覧 </p>
							<% end %>
						</div>
					</div>


					<div class="col-lg-4">
						<div class="admins-top-box">
							<%= link_to admins_organization_inquirys_path, class: "link-none" do %>
								<p class="top-admins-inquirys-text link-none"> 団体お問い合わせ </p>
							<% end %>
						</div>
					</div>


					<div class="col-lg-4">
						<div class="admins-top-box">
							<%= link_to admins_staff_inquirys_path, class: "link-none" do %>
								<p class="top-admins-inquirys-text link-none"> スタッフお問い合わせ</p>
							<% end %>
						</div>
					</div>


				</div>




		</div>
	</div>
</div>


