<%= render 'layouts/subheader' %>


<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= notice %>
</div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= alert %>
</div>
<% end %>



<div class="container">
  <div class="row">
    <p class="title-text"> 管理者 登録 </p>
    <div class="col-lg-4 col-lg-offset-4">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field">
          <%= f.label :name, "名前",class: "sub-sgin-text" %><br>
          <%= f.text_field :name,:size  => "50", autofocus: true, autocomplete: "name" %>
        </div>

        <div class="field">
          <%= f.label :email,class: "sub-sgin-text" %><br />
          <%= f.email_field :email,:size  => "50", autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field">
          <%= f.label :password,class: "sub-sgin-text" %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password,:size  => "50", autocomplete: "new-password" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation,class: "sub-sgin-text" %><br />
          <%= f.password_field :password_confirmation,:size  => "50", autocomplete: "new-password" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "orange-button sign-button" %>
        </div>
      <% end %>
      <div class="">
        <%= render "admins/shared/links" %>
      </div>
    </div>
  </div>
</div>
