<%= render 'layouts/header' %>

<p class="title-text" style="color: red;">お 祭 り に 行 こ う !</p>


	<div style="margin: 50px 0 50px 0;">
		<p class="top-sub-text">近日開催のお祭り</p>
		<div class="multiple-items">
			<% @festivals.each do |festival| %>
				<%=link_to festival_path(festival.id) do %>
				 	<div class="order-text" style="margin-left: 80px;">
		                    <%= attachment_image_tag festival, :fes_image, :fill, 200, 200, format: 'jpg' %>
				 	</div>
				 	<div class="order-text link-none">
				 		<%= festival.name %>
				 	</div>
				 	<div class="order-text link-none">
				 		開催日：<%= festival.date %>
				 	</div>
		        <% end %>
			<% end %>
		</div>
	</div>



<div class="container-fluid">
	<div class="top-festival-box">
		<%= link_to festivals_path,class: "link-none" do %>
		<p class="top-festival-text link-none">もっとお祭りを探しに行く</p>
		<% end %>
	</div>
	<p class="top-sub-text">スタッフとしてお祭りに参加しよう!</p>
	<div class="top-staff-box">
		<%= link_to new_staff_session_path,class: "link-none" do %>
		<p class="top-staff-text link-none">スタッフ ログイン</p>
		<% end %>
	</div>
	<p class="top-sub-text">お祭り主催者の方はこちらから</p>
	<div class="top-organization-box">
		<%= link_to new_organization_session_path,class: "link-none" do %>
		<p class="top-organization-text link-none">主催者 ログイン</p>
		<% end %>
	</div>
</div>










