<%= render 'layouts/header' %>


<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= notice %>
</div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= alert %>
</div>
<% end %>



<p class="home-title-text">お 祭 り に 行 こ う !</p>


<div style="margin: 20px 0 50px 0;">
	<p class="top-sub-text">近日開催のお祭り</p>
	<div id="top-festival-date">
		<% @festivals.each do |festival| %>
			<%=link_to festival_path(festival.id) do %>
				<div>
			 		<P class="top-text-festival-name link-none" ><%= festival.name %></P>
			 	</div>
			 	<div class="top-image">
	                    <%= attachment_image_tag festival, :fes_image, :fill, 250, 250, format: 'jpg', class: "top-image" %>
			 	</div>
			 	<div class="top-text link-none">
			 		<P class="top-text" >開催地域：<%= festival.area %></P>
			 	</div>
			 	<div class="top-text link-none">
			 		<p class="top-text">開催日：<%= festival.date %></p>
			 	</div>
	        <% end %>
		<% end %>
	</div>
</div>



<div class="container-fluid">
	<div class="top-festival-box">
		<%= link_to festivals_path,class: "link-none" do %>
		<p class="top-festival-text link-none">もっとお祭りを探しに行く</p>
		<% end %>
	</div>
	<p id="link-a" class="top-sub-text">スタッフとしてお祭りに参加しよう!</p>
	<div class="top-staff-box">
		<%= link_to new_staff_session_path,class: "link-none" do %>
		<p class="top-staff-text link-none">スタッフ ログイン</p>
		<% end %>
	</div>
	<p class="top-sub-text">お祭り主催者の方はこちらから</p>
	<div class="top-organization-box">
		<%= link_to new_organization_session_path,class: "link-none" do %>
		<p class="top-organization-text link-none">主催者 ログイン</p>
		<% end %>
	</div>
</div>












