<%= render 'layouts/header' %>





<% if user_signed_in? %>
<div class="container">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1" >
			<div class="top-staff">
			<P class="top-staff-text-h">スタッフ登録をして</P><br>
			<P class="top-staff-text-h">お祭りに参加しよう!!</P>
			<%= link_to "登録画面へ", new_user_staff_path(user_id: current_user.id), class: "btn btn-default" %>
			</div>
<% end %>

<p class="top-festa-text"> 近日開催のお祭り </p>
<div id="top-festival-date">
	<% @festival_date.each do |festa| %>
	<%=link_to festival_path(festa.id) do %>
	<%= attachment_image_tag festa, :fes_image, :fill, 200, 200, format: 'jpg' %>
	<p> <%= festa.name %> / 開催地域: <%= festa.area %> </p>
	<% end %>
	<% end %>
</div>
</div>
</div>
</div>



<%= render 'layouts/footer' %>


