<%= render 'layouts/subheader' %>

<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= notice %>
</div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= alert %>
</div>
<% end %>





<p class="inquity-title">お問い合わせ内容</p>

<div class="col-lg-4 col-lg-offset-4">
  <div>
  	<p class="sub-text">お名前</p>
  	<p class="inquity-text"><%= @organization.name %></p>
  </div>

  <div style="margin: 20px 0 0 0">
  	<p class="sub-text">返信先メールアドレス</p>
  	<P class="inquity-text" ><%= @organization.email %><P>
  </div>

   <div class="form-group" style="margin-top: 30px;">
   		<p class="sub-text">お問い合わせ内容</p>
      	<p class="inquity-text inquity-box"><%= @organization_inquiry.message %></p>
   </div>

  <% if @organization_inquiry.inquiri_status == "返信済み" %>

   <p class="inquity-title">返信内容</p>


  	<div class="form-group" style="margin-top: 30px;">
      	 <p class="inquity-box inquity-text"><%= @organization_inquiry.organization_reply.message %></p>
    	</div>

    <div class="orange-button inquirys-show-buttn link-none">
      <p class="inquirys-show-buttn-text"><%= link_to "一覧に戻る", admins_organization_inquirys_path, class: "link-none" %></p>
    </div>

    <% else %>

   <p class="inquity-title">返信</p>


  <div class="form-group" style="margin-top: 30px;">
  	<%= form_for @organization_reply, url:admins_organization_replies_path do |reply| %>
      <%= reply.text_area :message, class: 'form-control inquiry-message-box' %>
      <%= reply.hidden_field :organization_inquiry_id, :value => @organization_inquiry.id %>


   	<%= reply.submit '送信', class: "green-button inquirys-buttn" %>

    <div class="orange-button inquirys-show-buttn link-none">
      <p class="inquirys-show-buttn-text"><%= link_to "一覧に戻る", admins_organization_inquirys_path, class: "link-none" %></p>
    </div>

    <% end %>

    </div>


    <% end %>




</div>