<%= render 'layouts/header' %>




<% if @searchs.blank? %>

<p class="search-blank-text">検索結果は０件でした</p>

<p class="title-text"> お祭り一覧　</p>


<ul class="scroll-list jscroll" style="padding-left: 0px;">

<% @festivals.each do |festival| %>

	<div class="container">
		<div class="col-lg-10 col-lg-offset-1 col-xs-12">
			<%= link_to festival_path(festival.id) do %>
			<div class="festivals-box row">
				<div class="col-lg-4 col-xs-4">
						<%= attachment_image_tag festival,:fes_image, :fill,250,250, class: "festival-box-image img-thumbnail" %>
				</div>
				<div class="col-lg-8 festival-box-text link-none col-xs-8">
					<p class="festival-box-title"> <%= festival.name %> </p>
					<p> 開催日：<%= festival.date %> </p>
					<p> 開催場所：<%= festival.address %> </p>
					<p> スタッフ募集状況：<%= festival.staff_status %></p>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<% end %>


<%= paginate @festivals, class: "paginate paginate-style"  %>

</ul>

<% else %>


<p class="title-text"> 検索結果一覧　</p>


<ul class="scroll-list jscroll" style="padding-left: 0px;">

<% @searchs.each do |festival| %>

<div class="container">
	<div class="col-lg-10 col-lg-offset-1 col-xs-12">
		<%= link_to festival_path(festival.id) do  %>
		<div class="festivals-box row">
			<div  class="col-lg-4 col-xs-4">
					<%= attachment_image_tag festival,:fes_image, :fill,250,250, class: "festival-box-image img-thumbnail" %>
				</div>
			<div class="col-lg-8 festival-box-text link-none col-xs-8">
				<p class="festival-box-title"> <%= festival.name %> </p>
				<p> 開催日：<%= festival.date %> </p>
				<p> 開催場所：<%= festival.address %> </p>
				<p> スタッフ募集状況：<%= festival.staff_status %></p>
			</div>
		</div>
		<% end %>
	</div>
</div>

<% end %>

<% end %>


<%= paginate @searchs, class: "paginate paginate-style"  %>

</ul>

<p class="pagetop"></p>




