<%= render 'layouts/header' %>

<% if notice %>
<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= notice %>
</div>
<% end %>
<% if alert %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">close</span>
  </button>
  <%= alert %>
</div>
<% end %>



	<div class="container" style="background-color: rgba(255,127,127,0.4); margin-bottom: 30px;">
		<div style="background-color: rgba(255,127,127,0.5); margin: 20px 0 20px 0;">
			<div class="row">

				<div style="text-align: center; margin: 30px;">
					<p class="festival-title-text"> <%= @festival.name %> </p>
				</div>
			</div>


		<div class="col-lg-6 col-xs-12">
			<div  style="margin: 20px;">
			<%= attachment_image_tag @festival,:fes_image, :fill,500,650, class: "festival-show-image" %>
			</div>
		</div>

		<div class="col-lg-6 col-xs-12">
			<div class="festoval-table">
				<table class="table">
					<thead>
						<tr>
							<th class="festival-show-teble-title" colspan="2">お祭り情報</th>
						</tr>
					</thead>
					<tr class="festival-show-teble">
						<td style="width: 30%;">名称</td>
						<td> <%= @festival.name %> </td>
					</tr>
					<tr class="festival-show-teble">
						<td>スタッフ募集</td>
						<td>
							<div class="col-lg-6 col-xs-6">
								 <%= @festival.staff_status %>
							</div>
							<div class="col-lg-6 col-xs-6">
								<% if staff_signed_in? %>
										 <% if @festival.staff_status == "募集中" and @festival.matched_by?(current_staff) %>
											 <%= link_to festival_match_path(@festival.id), class: "link-none", method: :delete do %>
											 <p class="orange-button link-none">参加を取り消す</p>
											<% end %>
											<% elsif @festival.staff_status == "募集中" %>
											<%= form_for @matching, url:festival_matchs_path(@festival) do |matching| %>
											<%= matching.hidden_field :festival_id, :value => @festival.id %>
											<%= matching.submit "お祭に参加する", class: "blue-button" %>
											<% end %>
										<% end %>
								<% end %>
							</div>
						</td>
					</tr>
					<tr class="festival-show-teble">
						<td>開催日</td>
						<td> <%= @festival.date %> </td>
					</tr>
					<tr class="festival-show-teble">
						<td>アクセス</td>
						<td> <%= @festival.traffic %> </td>
					</tr>
					<tr class="festival-show-teble">
						<td>関連サイト</td>
						<td> <a href="<%= @festival.web_url %>" target="_blank" > <%= @festival.web_url %> </a> </td>
					</tr>
					<tr class="festival-show-teble">
						<td>開催場所</td>
						<td> <%= @festival.address %> </td>
					</tr>
					<tr>
						<td colspan="2" id="map"></td>
					</tr>
				</table>
			</div>

		</div>

		<div class="row">
			<div class="col-lg-10 col-lg-offset-1 col-xs-10 col-xs-offset-1">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="fes-pr-head">お祭PR</th>
						</tr>
					</thead>
					<tbody>
						<td  class="fes-pr-body"> <%= @festival.profile %> </td>
					</tbody>
				</table>

				<% if @festival.matched_by?(current_staff) %>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="fes-pr-head">お知らせ一覧</th>
							</tr>
						</thead>
						<% @informations.each do |information| %>
						<tbody>
							<td  class="fes-pr-body"> <%= information.message %> </td>
						</tbody>
						<% end %>
					</table>
					<%end %>


			</div>
		</div>



		</div>
	</div>










<!-- マップ表示 -->

<script>

	let map;
	let geocoder;
	let marker;

	function initMap(){
		var geocoder = new google.maps.Geocoder();
		var map = document.getElementById('map');

		geocoder.geocode({ address: '<%= @festival.address %>' },function(results,status){
			if (status == 'OK' && results[0]){
				map = new google.maps.Map(map,{
					center: results[0].geometry.location,
					zoom: 16,
				});
				var marker = new google.maps.Marker({
					map: map,
					position: results[0].geometry.location,
				});
			}else{
				alert('失敗しました');
			return;
			}
		});

	}


</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDM3X900YOUbEJiQe9DnUJYZFoUzVhCVd4&callback=initMap" async defer></script>
