<header class="header-box" role="banner">
	<div class="container-fluid">
		<div class="row">

			<div class="col-lg-2 col-xs-2">
				<% if staff_signed_in? or organization_signed_in? %>
					<%= link_to festivals_path, :style=>"color:#777;text-decoration: none;" do %>
					<p class="rogo">FESTA</p>
					<% end%>
					<% else %>
						<%= link_to root_path, :style=>"color:#777;text-decoration: none;" do %>
						<p class="rogo">FESTA</p>
					<% end %>
				<% end %>
			</div>

			<div class="col-lg-4 col-xs-10">
				<div class="search-box">
					<div class="heder-li-s">
						<div class="search">
							<%= form_tag(festivals_name_path, :method => 'get') do %>
								<%= text_field_tag :search_name, '', placeholder: "お祭りの名前で検索" %>
								<%= submit_tag '検索', :name => nil %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
				<div class="col-lg-2 col-xs-6">
					<div class="heder-li-search heder-li-search-1 pointa">
							エリアから探す
							<%= form_tag(festivals_area_path, :method => 'get') do %>
							<ul class="list-inline balloon1">
								<li> <%= link_to "北海道", festivals_area_path(search_area: 0), class: "link-none" %> </li>
								<li> <%= link_to "東北", festivals_area_path(search_area: 1), class: "link-none" %> </li>
								<li> <%= link_to "関東", festivals_area_path(search_area: 2), class: "link-none" %> </li>
								<li> <%= link_to "中部", festivals_area_path(search_area: 3), class: "link-none" %> </li>
								<li> <%= link_to "近畿", festivals_area_path(search_area: 4), class: "link-none" %> </li>
								<li> <%= link_to "中国", festivals_area_path(search_area: 5), class: "link-none" %> </li>
								<li> <%= link_to "四国", festivals_area_path(search_area: 6), class: "link-none" %> </li>
								<li> <%= link_to "沖縄", festivals_area_path(search_area: 7), class: "link-none" %> </li>
							</ul>
							<% end %>
					</div>
				</div>
				<div class="col-lg-2 col-xs-5">
					<div class="heder-li-search heder-li-search-2 pointa">
							開催月から探す
							<%= form_tag(festivals_date_path, :method => 'get') do %>
							<ul class="list-inline balloon2">
								<li> <%= link_to "1月", festivals_date_path(search_date: 1 ), class: "link-none" %> </li>
								<li> <%= link_to "2月", festivals_date_path(search_date: 2 ), class: "link-none" %> </li>
								<li> <%= link_to "3月", festivals_date_path(search_date: 3 ), class: "link-none" %> </li>
								<li> <%= link_to "4月", festivals_date_path(search_date: 4 ), class: "link-none" %> </li>
								<li> <%= link_to "5月", festivals_date_path(search_date: 5 ), class: "link-none" %> </li>
								<li> <%= link_to "6月", festivals_date_path(search_date: 6 ), class: "link-none" %> </li>
								<li> <%= link_to "7月", festivals_date_path(search_date: 7 ), class: "link-none" %> </li>
								<li> <%= link_to "8月", festivals_date_path(search_date: 8 ), class: "link-none" %> </li>
								<li> <%= link_to "9月", festivals_date_path(search_date: 9 ), class: "link-none" %> </li>
								<li> <%= link_to "10月", festivals_date_path(search_date: 10 ), class: "link-none" %> </li>
								<li> <%= link_to "11月", festivals_date_path(search_date: 11 ), class: "link-none" %> </li>
								<li> <%= link_to "12月", festivals_date_path(search_date: 12 ), class: "link-none" %> </li>
							</ul>
							<% end %>
					</div>
				</div>
				<% if staff_signed_in? %>
				<div class="drawer drawer--right">
					<button type="button" class="drawer-toggle drawer-hamburger">
						<span class="sr-only"></span>
						<span class="drawer-hamburger-icon"></span>
					</button>
					<nav class="drawer-nav" role="navigation">
						<ul class="drawer-menu">
							<li><P class="drawer-brand">ユーザーメニュー</P></li>
							<li><%= link_to "スタッフページ", staff_path(id: current_staff.id), class: "drawer-menu-item" %></li>
							<li><%= link_to "お問い合わせ", new_staffs_staff_inquiry_path, class: "drawer-menu-item link-none" %> </li>
							<li><%= link_to "ログアウト", destroy_staff_session_path, class: "drawer-menu-item link-none", method: :delete %> </li>
						</ul>
					</nav>
				</div>
				<% elsif organization_signed_in? %>
					<div class="drawer drawer--right">
					<button type="button" class="drawer-toggle drawer-hamburger">
						<span class="sr-only"></span>
						<span class="drawer-hamburger-icon"></span>
					</button>
					<nav class="drawer-nav" role="navigation">
						<ul class="drawer-menu">
							<li><P class="drawer-brand" href="#">ユーザーメニュー</P></li>
							<li><%= link_to "団体ページ", organization_path(id: current_organization.id), class: "drawer-menu-item" %></li>
							<li><%= link_to "お問い合わせ", new_organizations_organization_inquiry_path, class: "drawer-menu-item link-none" %> </li>
							<li><%= link_to "登録お祭り一覧", organizations_festivals_path, class: "drawer-menu-item" %></li>
							<li><%= link_to "お祭り登録", new_organizations_festival_path, class: "drawer-menu-item" %></li>
							<li><%= link_to "ログアウト", destroy_organization_session_path, class: "drawer-menu-item", method: :delete %> </li>
						</ul>
					</nav>
				</div>
				<% else %>
				<div class="col-lg-2 col-xs-5">
					<div class="heder-li-search heder-li-search-2  log-out">
						<%= link_to "ログインする", '/#link-a', class: "link-none " %>
					</div>
				</div>
				<% end %>

			</div>


		</div>
	</div>
</header>

